@model SessionStateViewModel;
@if(Model.ErrorMessage != null)
{
    <script>DisplayMessage("@Model.ErrorMessage");</script>
    Model.ErrorMessage = null;
}

<div class="col-sm-4">
    <h2>Connection Status:</h2>
    <p><b>...Privilege:</b> @Model.DateSessionStarted.AddYears(60)</p>
    <p><b>...Connected:</b> @Model.DateSessionStarted.AddYears(60)</p>
</div>

<div class="col-sm-8">
    <br/>
    <span class="message-body">
        Welcome back to Jackpoint, omae.
    </span>
    <div class="message-signature admin-color">
        -- Fastjack
    </div>
</div>
