@model HomeViewModel;
@if (Model.ErrorMessage != null)
{
    <script>
        $(function() {
            DisplayMessage('@Model.ErrorMessage');
        });
    </script>
    Model.ErrorMessage = null;
}

<div class="thread">
    <h3>News Broadcasts</h3>
    <a>view all</a>
</div>

<div class="thread">
    <h3>Job Postings</h3>
    <a>view all</a>
</div>

<div class="thread">
    <h3>Run Archive</h3>
    <a>view all</a>
</div>

<div class="thread">
    <h3>User Threads</h3>
    <a href="/Forum/List/1">view all</a>
    @foreach (var thread in Model.UserThreads)
    {
        <div onclick="location.href='@thread.Url';">
            <div>
                <span class="message-body">@thread.Title</span>
            </div>
        </div>
    }
</div>