@model HomeViewModel;
@if (Model.ErrorMessage != null)
{
    <script>
        $(function() {
            DisplayMessage('@Model.ErrorMessage');
        });
    </script>
    Model.ErrorMessage = null;
}

<div class="thread">
    <h3>News Broadcasts</h3>
    <a>view all</a>
</div>

<div class="thread">
    <h3>Job Postings</h3>
    <a>view all</a>
</div>

<div class="thread">
    <h3>Run Archive</h3>
    <a>view all</a>
</div>

<div class="thread">
    <h3>User Threads</h3>
    <a href="/Forum/List/1">view all</a>
    <table class="table">
        <tbody>
            @foreach (var thread in Model.UserThreads)
            {
                <tr class="post comment" onclick="location.href='@thread.Url';">
                    <td>
                        <span class="message-body">@thread.Title</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>