@model string;
@{
    ViewData["Title"] = "Home Page";
}

<div class="shadowrunTableHeader">@Model</div>
<div class="shadowrunTable">
    <table>
        <tr>
            <th>DEVICE</th>
            <th>AVAIL</th>
            <th>COST</th>
        </tr>
        <tr>
            <td>Basic</td>
            <td>-</td>
            <td>5,000¥ Per Year</td>
        </tr>
        <tr>
            <td>Gold</td>
            <td>-</td>
            <td>25,000¥ Per Year</td>
        </tr>
        <tr>
            <td>Platinum</td>
            <td>-</td>
            <td>50,000¥ Per Year</td>
        </tr>
        <tr>
            <td>Super-Platinum</td>
            <td>-</td>
            <td>100,000¥ Per Year</td>
        </tr>
    </table>
</div>
<div class="shadowrunTableFooter"></div>