@model SessionStateViewModel;

<div class="col-sm-4">
    <h2>Connection Status:</h2>
    <p><b>...Connected:</b> @Model.DateSessionStarted.AddYears(60)</p>
</div>

<div class="col-sm-8">
    <h1>Welcome back to JackPoint, omae;</h1>
</div>

@if(Model.ErrorMessage != null)
{
    <script>
        DisplayMessage("@Model.ErrorMessage");
    </script>
}