@model PostViewModel;

<form asp-controller="Forum" asp-action="AddEditPost" method="post" id="PostForm" role="form">
    <div class="modal-header">
        <span type="button" class="close" data-dismiss="modal">&times;</span>
        <h4 class="modal-title">Post: @Model.publicId</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea id="Body" class="form-control" name="Body" placeholder="Post Body" autocomplete="off">@Model.Body</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button id="submit" class="btn btn-primary">
            @if (Model.publicId == null)
            {
                <span>Add Post</span>
            }
            else
            {
                <span>Edit Post</span>
            }
        </button>
</div>
</form>