@model List<ThreadViewModel>

<div class="thread">
    @foreach (var thread in Model)
    {
        <div class="post comment">
            <span class="message-body">@thread.Title</span>
            <div class="message-signature" style="@thread.Style">
                @thread.Author <span class="time-stamp">@thread.PostDate.AddYears(60)</span>
            </div>
        </div>
    }
</div>