@using System.Web
@using Markdig
@model ThreadViewModel

<div class="thread">

    <div class="post">
        <span id="thread" class="message-body">
            @Html.Raw(Markdown.ToHtml(Model.Body, new MarkdownPipelineBuilder().UseAdvancedExtensions().Build()))
        </span>
    </div>

    @foreach (var post in Model.Posts)
    {
        //TODO: render the posts in their spots.
    }
</div>