@model ThreadViewModel

<div class="thread">

    <div class="post">
        <span class="message-body">@Model.Body</span>
        <div class="message-signature" style="@Model.Style">
            @Model.Author
            <span class=time-stamp>
                @Model.PostDate.AddYears(60)
            </span>
        </div>
    </div>

    <script>
        $(function () {

            var converter = new showdown.Converter({
                tables: true,
                strikethrough: true,
            });

            $(".thread .message-body").each(function () {
                var text = $(this).html()
                $(this).html(converter.makeHtml(text));
            });
        });
    </script>

</div>