@model ThreadViewModel

<div class="thread">
    <div class="post">
        <span id="thread" class="message-body"></span>
    </div>

    <script>
        $(function () {

            let data = {
                "type": "section",
                "entries": [
                    "@Model.Body"
                ]
            };

            data = JSON.parse('@Html.Raw(Model.Body.Replace("\r\n","").Replace("'",""))');

            $('#thread').html(RenderData(data));
        });
    </script>

    @foreach (var post in Model.Posts)
    {
        //TODO: render the posts in their spots.
    }
</div>