article {
    background-color: #111;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    position:relative;
    z-index: 0;
    overflow:hidden;
}

    article h3 {
        margin-top: 10px;
    }

    article .message-body p {
        font-size: 12pt;
    }

.thread-metadata {
    padding-bottom: 7px;
    border-bottom: 1px solid #333;
}

.message-body {
    z-index: -2;
}

.message-body .img {
    border: 1px solid #000;
    box-shadow: 0 0 15px #000 inset;
    border-radius: 10px;
    margin-right: 7px;
    height: auto;
    float: left;
    max-width: 33% !important;
}

    .message-body .img:nth-child(even) {
        float: right;
        margin-right: 0px;
        margin-left: 7px;
    }

.message-body img {
    border-radius: 7px;
    position: relative;
    max-width: 100%;
    display: block;
    height: auto;
    z-index: -1;
}

.comment {
    font-size: 12px;
    padding-left: 12px;
    text-indent: -13px;
    text-align: justify;
    line-height: 1.5em;
}

    .comment .message-signature {
        margin-top: 10px;
        margin-bottom: 19px;
    }

    .comment .message-body:before,
    .message-signature:before {
        content: ">";
        color: #37b733;
    }

#ThreadForm textarea {
    height: 200px;
}