.message-head {
    font-size: 32pt;
    border-bottom: 1px solid #afafaf;
}

.message-body {
    font-size: 14pt;
}

.message-signature {
    font-size: 10pt;
    font-style: italic;
    margin-top: 19px;
    color: #fff;
}

.admin-color {
    color: #ff0;
}