.modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: linear-gradient( #383838, #0f0f0f);
    border-bottom: 0;
}

.modal-content {
    box-shadow: 0 0 15px #000;
    border-radius: 15px;
}

.modal-body {
    padding-top: 20px;
}

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient( #383838, #171717);
    border-top: 0;
}

.modal-collumn {
    display: inline-block;
    width: 49%;
}

.modal-collumn:nth-child(1) {
    display: inline-block;
    width: 47%;
    margin-left: 1%;
}

@media screen and (max-width: 767px) {
    .hide-when-small {
        display: none !important;
    }
    .modal-collumn {
        width: 100% !important;
        margin-left: 0 !important;
    }
}