::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: linear-gradient( #1e1e1e, #000 50px, calc(100% - 20px), #1e1e1e -20px, #000);
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #222;
    box-shadow: inset 0 0 4px grey;
    border-radius: 8px;
    border: solid 4px black;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}