.side-bar {
    position: fixed;
    text-align: left;
    right: 0;
}

    .side-bar > * {
        max-width: 300px;
    }

    .side-bar .btn-primary {
        width: 290px;
    }

.biometrics {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widget {
    display: none;
}

@media screen and (max-width: 767px) {
    .side-bar {
        position: inherit;
        margin-bottom: 30px;
    }

        .side-bar > * {
            max-width: inherit;
        }

        .side-bar .btn-primary {
            width: 100%;
        }

    .widget {
        display: none !important;
    }
}
