.side-bar {
    text-align: justify;
    right: 0;
    padding-top: 20px;
}

    .side-bar p {
        padding: 0 !important;
        text-indent: 0;
    }

    .side-bar h2,
    .side-bar h3 {
        margin-top: 0;
    }

    .side-bar .btn-primary {
        width: 100%;
    }

    .side-bar .post {
        cursor: default;
    }

    .side-bar ol {
        text-align: left;
    }

        .side-bar ol li {
            padding-top: 15px;
            margin-left: -15px;
        }

    .side-bar .post:hover .message-body,
    .side-bar .post:hover .message-signature {
        text-shadow: none !important;
    }

    .side-bar .biometrics {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

@media screen and (max-width: 991px) {
    .side-bar {
        position: inherit;
        margin-bottom: 30px;
    }

        .side-bar > * {
            max-width: inherit;
        }

        .side-bar .btn-primary {
            width: 100%;
        }
}
