@using System.Collections.Generic;
@using CustomExtensions;
@using System.Reflection;
@model List<CarViewModel>;

<h1>Cars</h1>
<h5>A table of default car objects</h5>
<hr/>

<partial name="Partials/_Table" model="Model">
