@using System.Collections.Generic;
@model List<CarViewModel>;

<div class="shadowrunTableHeader">CARS</div>
    <div class="shadowrunTable">
        <partial name="Partials/_List" model="Model">
    </div>
<div class="shadowrunTableFooter"></div>