@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ThrowAwayData;
@inject IConfiguration Configuration;
@{    
    var key = Context.Session.GetString("UserKey");
    var action = Url.Action("LogIn","Account");
    var userName = "Log In";
    var admin = false;

    if (key != null)
    {
        var user = JsonConvert.DeserializeObject<UserIdentity>(key);
        userName = user.UserName;
        admin = Context.Session.GetString("UserGroup") == "Admin";
        action = Url.Action("Update","Account");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="\Images\Logo.png" />
    <title>Jackpoint</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/scrollbar.css" />
    <link rel="stylesheet" href="~/css/forum.css" />
    <link rel="stylesheet" href="~/css/table.css"/>
    <link rel="stylesheet" href="~/css/modal.css"/>
    <link rel="stylesheet" href="~/css/sidebar.css"/>
    <link rel="stylesheet" href="~/css/ShadowrunTable.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Modal.js"></script>
</head>
<body>
    <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="message" class="message">
        <span class='message-body'>A quick message for you chummer.</span>
        <div class='message-signature admin-color'>-- Fastjack</div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="\Images\Jackpoint.svg" class="navbar-brand header-image"/>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Jackpoint</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav right">
                    @if(admin)
                    {
                        <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>   
                    }
                    <li><a id="userLabel" onclick='Modal("@action");'>@userName</a></li>
                    @if(key != null)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="LogOut">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()   
    </div>
    <footer class="navbar-fixed-bottom" style="background-color:#080808; color:#9d9d9d">
        <div class="pl-3 text-center ">&nbsp;&copy; @(DateTime.Now.Year+60) - Jackpoint</div>
    </footer>
</body>
</html>
