@model Exception
<div>
    <br />
    <div class="thread">
        <div class="comment">
            <span class="message-body">
                @Model.Message
            </span>
            <div class="message-signature" style="color:#ff0;">
                Fastjack
            </div>
        </div>
    </div>
</div>