@model Exception
@{    
    var errorMessage = Model.ToString().Split(new string[] { " at " }, StringSplitOptions.None);
}
<div>
    <br/><br/>
    <span class="message-body">
        @Model.Message
    </span>
    <div class="message-signature admin-color">
        Fastjack
    </div>
</div>