@model CarViewModel;
@using(Html.BeginForm("Edit","Car",FormMethod.Post, new { id = "FormEditCar" }))
{
    <div class="modal-header bg-dark">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Car: @Model.Id</h2>
    </div>

    <div class='modal-body forms-inline'>
        
        <div class="input-group">
            <div class="input-group-addon">
                <div class="input-group-text">Make:</div>
            </div>
            @Html.TextBoxFor(model => model.Make, new{@class="form-control"})
        </div>

        <div class="input-group">
            <div class="input-group-addon">
                <div class="input-group-text">Model:</div>
            </div>
            @Html.TextBoxFor(model => model.CarModel, new{@class="form-control"})
        </div>

    </div>

    <div class='modal-footer'>
        <button type="button" class="btn btn-danger pull-left">Delete</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <input id="btnSubmit" type="submit" class="btn btn-primary" data-dismiss="modal" value="Save Changes" />
    </div>

    <script>
        $(function(){
            $("#btnSubmit").on("click",function(){
                $("#FormEditCar").submit();
            });
        });
    </script>
}
