@model RecoveryViewModel
<div class="col-sm-2"></div>
<div class="col-sm-4">
    <br/><br/>
    <span class="message-body">
        I will send you a verification code. 
        It will give you access to your account.
        As soon as you get in, change your passphrase! 
        I can't keep doing this for you chummer.
    </span>
    <div class="message-signature admin-color">
        -- Fastjack
    </div>
    @if(@Model.ErrorMessage != null)
    {
        <div id="errorMessage">
            <hr/>
            <span class="message-body">@Model.ErrorMessage</span>
            <div class="message-signature admin-color">-- Fastjack</div>
        </div>
    }
</div>
<div class="col-sm-4">
    <h2>Recovery</h2>
    <h5><a asp-area="" asp-controller="Account" asp-action="Login">Back to Login page.</a></h5>
    <hr/>
    <form asp-controller="Account" asp-action="Recovery" method="post" id="RecoveryForm" role="form">
        <div class="form-group">
            <input id="email" type="text" class="form-control" name="Email" placeholder="email" autocomplete="off">
        </div>
        <div class="form-group">
            <input id="username" type="text" class="form-control" name="UserName" placeholder="username" autocomplete="off">
        </div>
        <span id="recover" id="Recover" class="btn btn-primary" style="width:100%">Recover</span>
    </form>
</div>
<div class="col-sm-2"></div>
<script>
    $(function(){
        BindValidation(["email", "username"], "recover");
    });
</script>