@model UpdateViewModel

<div class="modal-header">
    <span type="button" class="close" data-dismiss="modal">&times;</span>
    <h4 class="modal-title">Account Information</h4>
</div>
<div class="modal-body">    
    <div style="display:inline-block; width:49%;">
        <div class="form-group">    
            <input id="UserName" class="form-control" name="UserName" placeholder="username" value="@Model.UserName">
        </div>
        <div class="form-group">    
            <input id="Email" class="form-control" name="Email" placeholder="email" value="@Model.Email">
        </div>
    </div>
    <div style="display:inline-block; width:49%;">
        <div class="form-group">
            <input id="NewPassphrase" type="password" class="form-control" name="NewPassphrase" placeholder="new passphrase">
        </div>
        <div class="form-group">
            <input id="ConfirmPassphrase" type="password" class="form-control" name="ConfirmPassphrase" placeholder="confirm passphrase">
        </div>
    </div>
    <br/><br/>
    <span class='message-body'>
        You can update your handle, passphrase, or email address.
        It won't hide you or erase your previous posts.
        Your name will be updated on them.
    </span>
    <div class='message-signature admin-color'>-- Fastjack</div>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" id="submit" onclick='UpdateAccount()' class="btn btn-primary">Update Account Info</button>
</div>
<script>
    function UpdateAccount() {
        var action = '@Url.Action("Update","Account")';
        var tag = "userLabel";
        var model = {
            UserName : $('#UserName').val(),
            Email : $('#Email').val(),
            NewPassphrase : $('#NewPassphrase').val(),
            ConfirmPassphrase : $('#ConfirmPassphrase').val()
        };
        Submit(action, model, tag);
    }
</script>