@model VerificationViewModel;
@if (Model.ErrorMessage != null)
{
    <script>
        $(function() {
            DisplayMessage('@Model.ErrorMessage');
        });
    </script>
    Model.ErrorMessage = null;
}

<h3>Verify Account</h3>
<div><a asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a></div>
<hr />
<form asp-controller="Account" asp-action="Verify" method="post" id="VerifyForm" role="form">
    <div class="form-group">
        <input id="code" type="text" class="form-control" name="inputGuid" placeholder="code" autocomplete="off">
    </div>
    <!--@Model.dbGuid-->
    <button id="verify" class="btn btn-primary" style="width:100%">Verify</button>
</form>
<br />
<br />
<div class="comment">
    <span class="message-body">
        I have sent you a new verification code.
        Check your email and type in the code.
        Or you could just copy and paste it, like everyone else.
    </span>
    <div class="message-signature" style="color:#ff0">
        Fastjack
    </div>
</div>
<script>
    $(function () {
        BindValidation(["code"], "verify");
    });
</script>